@model example_4_rj.Models.SearchModel

<br/>
<br/>
<div class="panel panel-default">
    <div class="panel panel-body">
    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
        <div class="row form-group">
            @Html.TextBoxFor(m => m.First, new {@class = "form-control"})
        </div>
        <div class="row form-group">
            @Html.TextBoxFor(m => m.Last, new {@class="form-control"})
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    }
    </div>
</div>